{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'eLocal_app/base.css' %}">
  </head>
      <!-- Fixed navbar -->
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">eLocal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'eLocal_app.views.homePage' %}">Home</a></li>
            <li><a href="{% url 'eLocal_app.views.shoppingPage' %}">Shopping Cart</a></li>
            <li class="active" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search by<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'eLocal_app.views.productSearchPage' %}">Product</a></li>
                <li><a href="{% url 'eLocal_app.views.storeSearchPage' %}">Store</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add by<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#addProduct" data-toggle="modal" data-target="#addProduct">Product</a></li>
                <li><a href="#addStore" data-toggle="modal" data-target="#addStore">Store</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="addStore" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title text-center">Add Store</h3>
          </div>
          <div class="modal-body">
            <form form="form" class="form-horizontal text-center" method="post" action="{% url 'eLocal_app.views.addStore' %}" id="storeForm" autocomplete="off">
              <div class="form-group">
                <label for="{{ addStoreForm.store_name.id_for_label }}" class="control-label col-sm-2">Store Name</label>
                <div class="col-sm-10">{% render_field addStoreForm.store_name class="form-control col-sm-10" type="text" id="storeName" %}</div>
              </div>
              <div class="form-group">
                <label for="autocomplete" class="control-label col-sm-2">Search Address</label>
                <div class="col-sm-10"><input id="autocomplete" class="form-control" placeholder="Enter store address" type="text" autocomplete="off"></input></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Address</label>
                <div class="col-sm-2">{% render_field addStoreForm.street_number class="form-control" type="text" id="street_number" disabled="true" %}</div>
                <div class="col-sm-8">{% render_field addStoreForm.street_address class="form-control" type="text" id="route" disabled="true" %}</div>
              </div>
              <div class="form-group">
                <label for="locality" class="control-label col-sm-2">City</label>
                <div class="col-sm-10">{% render_field addStoreForm.city class="form-control" type="text" id="locality" disabled="true" %}</div>
              </div>
              <div class="form-group">
                <label for="administrative_area_level_1" class="control-label col-sm-2">State</label>
                <div class="col-sm-10">{% render_field addStoreForm.state class="form-control" type="text" id="administrative_area_level_1" disabled="true" %}</div>
              </div>
              <div class="form-group">
                <label for="postal_code" class="control-label col-sm-2">Zipcode</label>
                <div class="col-sm-10">{% render_field addStoreForm.zip_code class="form-control" type="text" id="postal_code" disabled="true" %}</div>
              </div>
              <div class="form-group">
                <label for="country" class="control-label col-sm-2">Country</label>
                <div class="col-sm-10">{% render_field addStoreForm.country class="form-control" type="text" id="country" disabled="true" %}</div>
              </div>
              <div class="form-group">
                <label for="has_card" class="control-label col-sm-2">Membership Card</label>
                <div class="col-sm-1">{% render_field addStoreForm.has_card class="form-control" id="has_card"%}</div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Sunday Hours</label>
                <label for="sun_open_time" class="control-label col-sm-1">Open</label>
                <div class="col-sm-3">{% render_field addStoreForm.sun_open_time class="form-control" id="sun_open_time" %}</div>
                <label for="sun_close_time" class="control-label col-sm-1">Close</label>
                <div class="col-sm-3">{% render_field addStoreForm.sun_close_time class="form-control" id="sun_close_time" %}</div>
                <label for="sun_closed" class="control-label col-sm-1">Closed?</label>
                <div class="col-sm-1">{% render_field addStoreForm.sun_closed class="form-control" id="sun_closed" %}</div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Monday Hours</label>
                <label for="mon_open_time" class="control-label col-sm-1">Open</label>
                <div class="col-sm-3">{% render_field addStoreForm.mon_open_time class="form-control" id="mon_open_time" %}</div>
                <label for="mon_close_time" class="control-label col-sm-1">Close</label>
                <div class="col-sm-3">{% render_field addStoreForm.mon_close_time class="form-control" id="mon_close_time" %}</div>
                <label for="mon_closed" class="control-label col-sm-1">Closed?</label>
                <div class="col-sm-1">{% render_field addStoreForm.mon_closed class="form-control" id="mon_closed" %}</div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Tuesday Hours</label>
                <label for="tues_open_time" class="control-label col-sm-1">Open</label>
                <div class="col-sm-3">{% render_field addStoreForm.tues_open_time class="form-control" id="tues_open_time" %}</div>
                <label for="tues_close_time" class="control-label col-sm-1">Close</label>
                <div class="col-sm-3">{% render_field addStoreForm.tues_close_time class="form-control" id="tues_close_time" %}</div>
                <label for="tues_closed" class="control-label col-sm-1">Closed?</label>
                <div class="col-sm-1">{% render_field addStoreForm.tues_closed class="form-control" id="tues_closed" %}</div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Wednesday Hours</label>
                <label for="wed_open_time" class="control-label col-sm-1">Open</label>
                <div class="col-sm-3">{% render_field addStoreForm.wed_open_time class="form-control" id="wed_open_time" %}</div>
                <label for="wed_close_time" class="control-label col-sm-1">Close</label>
                <div class="col-sm-3">{% render_field addStoreForm.wed_close_time class="form-control" id="wed_close_time" %}</div>
                <label for="wed_closed" class="control-label col-sm-1">Closed?</label>
                <div class="col-sm-1">{% render_field addStoreForm.wed_closed class="form-control" id="wed_closed" %}</div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Thursday Hours</label>
                <label for="thur_open_time" class="control-label col-sm-1">Open</label>
                <div class="col-sm-3">{% render_field addStoreForm.thur_open_time class="form-control" id="thur_open_time" %}</div>
                <label for="thur_close_time" class="control-label col-sm-1">Close</label>
                <div class="col-sm-3">{% render_field addStoreForm.thur_close_time class="form-control" id="thur_close_time" %}</div>
                <label for="thur_closed" class="control-label col-sm-1">Closed?</label>
                <div class="col-sm-1">{% render_field addStoreForm.thur_closed class="form-control" id="thur_closed" %}</div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Friday Hours</label>
                <label for="fri_open_time" class="control-label col-sm-1">Open</label>
                <div class="col-sm-3">{% render_field addStoreForm.fri_open_time class="form-control" id="fri_open_time" %}</div>
                <label for="fri_close_time" class="control-label col-sm-1">Close</label>
                <div class="col-sm-3">{% render_field addStoreForm.fri_close_time class="form-control" id="fri_close_time" %}</div>
                <label for="fri_closed" class="control-label col-sm-1">Closed?</label>
                <div class="col-sm-1">{% render_field addStoreForm.fri_closed class="form-control" id="fri_closed" %}</div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Saturday Hours</label>
                <label for="sat_open_time" class="control-label col-sm-1">Open</label>
                <div class="col-sm-3">{% render_field addStoreForm.sat_open_time class="form-control" id="sat_open_time" %}</div>
                <label for="sat_close_time" class="control-label col-sm-1">Close</label>
                <div class="col-sm-3">{% render_field addStoreForm.sat_close_time class="form-control" id="sat_close_time" %}</div>
                <label for="sat_closed" class="control-label col-sm-1">Closed?</label>
                <div class="col-sm-1">{% render_field addStoreForm.sat_closed class="form-control" id="sat_closed" %}</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default btn-success">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="addProduct" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title text-center">Add Product</h3>
          </div>
          <div class="modal-body">
            <form form="form" class="form-horizontal text-center" method="post" action="{% url 'eLocal_app.views.addProduct' %}" id="productForm">
              <div class="form-group">
                <label for="{{ addProductForm.product_name.id_for_label }}" class="control-label col-sm-3">Product Name</label>
                <div class="col-sm-9">
                  {% render_field addProductForm.product_name class="form-control" type="text" id="productName" %}
                </div>
              </div>
              <div class="form-group">
                <label for="{{ addProductForm.price.id_for_label }}" class="control-label col-sm-3">Price</label>
                <div class="col-sm-9">
                  {% render_field addProductForm.price class="form-control" type="text" id="productPrice" %}
                </div>
              </div>
              <div class="form-group">
                <label for="{{ addProductForm.store_name.id_for_label }}" class="control-label col-sm-3">Store Name</label>
                <div class="col-sm-9">
                  {% render_field addProductForm.store_name class="form-control" type="text" id="storeNameproduct" %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default btn-success">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
      $("#addStore").on("click", function() {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
        google.maps.event.addListener(autocomplete, "place_changed", function() {
          var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
          };
          // Get the place details from the autocomplete object.
          var place = autocomplete.getPlace();

          for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
          }

          // Get each component of the address from the place details
          // and fill the corresponding field on the form.
          for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
              var val = place.address_components[i][componentForm[addressType]];
              document.getElementById(addressType).value = val;
            }
          }
        });
      });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuEhmVjHKmjRSodKx3dYUqbyCFquSDMWc&libraries=places&sensor=false" async defer></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
