{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eLocal</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'eLocal_app/homepage.css' %}">
  </head>
 
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">eLocal</h1>
            <p class="lead">Shop smart.</p>
            <form role="form" class="form-inline" method="post" action="{% url 'eLocal_app.views.homepage' %}">
              {% if form.zip_code.errors %}
                <ol>
                  {% for error in form.zip_code.errors %}
                    <strong>{{ error|escape }}</strong>
                  {% endfor %}
                </ol>
              {% endif %}
              <div class="form-group">
                <label for="{{ form.zip_code.id_for_label }}" class="control-label">Zipcode: </label>
                {% render_field form.zip_code class="form-control" type="text" %}
              </div>
              <button type="submit" class="btn btn-default">Shop!</button>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Fall 2015 CS169 eLocal</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
