{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eLocal</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'eLocal_app/homePage.css' %}">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover col-xs-12">
            <h1 class="cover-heading">eLocal</h1>
            <p class="lead">Shop smart.</p>
            <form role="form" class="form-horizontal" method="post" action="{% url 'eLocal_app.views.homePage' %}" autocomplete="off">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-danger text-center col-xs-9 col-xs-offset-1">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message|escape }}</strong>
                  </div>
                {% endfor %}
              {% endif %}
              <div class="row">
                <div class="form-group">
                  <div class="col-xs-4 col-xs-offset-2">
                    <label for="zip_code" class="control-label">Zipcode</label>
                  </div>
                  <div class="col-xs-2">
                    <label for="radius" class="control-label">Radius</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-xs-4 col-xs-offset-2">
                    {% render_field form.zip_code class="form-control" type="text" autocomplete="off" id="zip_code" %}
                  </div>
                  <div class="col-xs-2">
                    {% render_field form.radius class="form-control" id="radius" %}
                  </div>
                  <div class="col-xs-1" id="submitForm">
                    <button type="submit" class="btn btn-default">Shop!</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Fall 2015 CS169 eLocal</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
