{% extends "eLocal_app/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eLocal - Shopping Cart</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'eLocal_app/base.css' %}">
  </head>

  <body>
    {% block content %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ message|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
      <h1 class="shopping-title">Shopping Cart</h1>
      <ul class="list-group">
        {% if products %}
          {% for product in products %}
            <a href="" class="list-group-item row col-xs-8 col-xs-offset-1">
              <h4 class="list-group-item-heading col-xs-6">{{product.product.name}}</h4>
              <p class="list-group-item-heading col-xs-6 text-right">${{product.price}}</p>
              <p class="list-group-item-text col-xs-6">{{product.store.name}}</p>
              <p class="list-group-item-text col-xs-6 text-right">Quantity: {{product.quantity}}</p>
              <p class="list-group-item-text col-xs-12">{{product.store.address}}, {{product.store.city}}, {{product.store.state}} {{product.store.zip_code}}</p>
            </a>
            <a class="list-group-item col-xs-1 col-xs-offset-1 text-center" href="{% url 'eLocal_app.views.removeCart' product.product.id product.store.id %}">Remove</a>
          {% endfor %}
        {% endif %}
      </ul>
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
