{% extends "eLocal_app/base.html" %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eLocal - Store Search</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>

  <body>
    {% block content %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Store Search</h3>
        </div>
        <div class="panel-body text-center">
          <form form="form" class="form-inline" method="get" action="{% url 'eLocal_app.views.searchStore' %}">
            <div class="form-group">
              <label for="{{ searchForm.name.id_for_label }}" class="control-label">Name: </label>
              {% render_field searchForm.name class="form-control" type="text" %}
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
      </div>
      <div class="col-sm-4">
        <ul class="list-group">
          {% if stores %}
            {% for store in stores %}
              <a herf="#store{{forloop.counter}}" data-toggle="modal" data-target="#store{{forloop.counter}}" class="list-group-item">
                <h4 class="list-group-item-heading">{{store.store_name}}</h4>
              </a>
              <div id="store{{forloop.counter}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title text-center">{{store.store_name}}</h4>
                    </div>
                    <div class="modal-body">
                      <h5>Products</h5>
                      <ul>
                        {% if store.product_list %}
                          {% for product in store.product_list %}
                            <li>{{product.0}} ${{product.1}}</li>
                          {% endfor %}
                        {% endif %}
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
