<div class="container">

  <div class="col-sm-4">

    <div class="row">
      <toast></toast>
    </div>

    <div class="row panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">{{store.name}}</h1>
      </div>
      <div class="panel-body">
        <p>{{store.address.st_number}} {{store.address.st_name}}</p>
        <p>{{store.address.city}}, {{store.address.state}} {{store.address.zipcode}}</p>
        <p>Membership card: {{store.has_card}}</p>
      </div>
    </div>

    <ng-map center="{{store.address.lat}}, {{store.address.lng}}" zoom="15">
      <marker position="{{store.address.lat}}, {{store.address.lng}}"></marker>
    </ng-map>

  </div>

  <div class="col-sm-8">

    <table st-table="displayedProducts" st-safe-src="products" class="table table-striped">
      <thead>
      <tr>
        <th class="sortable" st-sort="name">Name</th>
        <th>Description</th>
        <th class="sortable" st-sort="price">Price</th>
        <th></th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="Search products" type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="product in displayedProducts">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price | currency}}</td>
        <td><ngcart-addtocart id="{{product.id}}" name="{{product.name}}" price="{{product.price}}" quantity="1" class="pull-right">Add to Cart</ngcart-addtocart></td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
