<div class="container">

  <div class="col-sm-8">

    <uib-accordion class="row">
      <uib-accordion-group heading="{{store.name}}" ng-repeat="store in stores">
        <p>{{store.address.st_number}} {{store.address.st_name}}, {{store.address.city}}, {{store.address.state}} {{store.address.zipcode}}</p>
        <p>Membership card: {{store.has_card}}</p>
        <button class="btn btn-primary" ng-click="addProduct($index, store.id)">Add Product</button>
        <h4>Products</h4>
        <div class="list-group" ng-repeat="product in store.products">
          <div class="list-group-item">
            <h5 class="list-group-item-heading">{{product.name}}</h5>
            <p class="list-group-item-text" style="white-space:pre-line;">{{product.description}}</p>
            <p class="list-group-item-text">${{product.price}}</p>
            <button class="btn btn-primary" ng-click="editProduct($parent.$index, $index, product.id, product.name, product.description, product.price)">Edit</button>
            <button ng-click="deleteProduct($parent.$index, $index, product.id)" class="btn btn-danger pull-right">Delete</button>
          </div>
        </div>
      </uib-accordion-group>
    </uib-accordion>

  </div>

  <div class="col-sm-4">

    <div class="row">
      <toast></toast>
    </div>

  </div>

</div>
