<div class="container">
  <ngcart-cart></ngcart-cart>

  <button id="route" class="btn btn-primary col-sm-12" ng-click="routePath()">Route</button>

  <div class="col-sm-6">
    <b>Mode of Travel: </b>
    <div class="form-group">
      <select id="travel_mode" class="form-control" ng-model="travelMode" ng-init="travelMode='DRIVING'">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
      </select>
    </div>

    <b>Start: </b>
    <div class="form-group">
      <input id="start_address" places-auto-complete ng-model="origin" component-restrictions="{country:'us'}" class="form-control" placeholder="Enter start address" type="text" />
    </div>

    <b>Destination: </b>
    <div class="form-group">
        <input id="end_address" places-auto-complete ng-model="destination" component-restrictions="{country:'us'}" class="form-control" placeholder="Enter destination address" type="text" />
    </div>

    <ng-map zoom="15" center="{{lat}}, {{lng}}" style="height:90%">
      <directions
        draggable="true"
        panel="directions-panel"
        travel-mode="{{travelMode}}"
        waypoints="{{wayPoints}}"
        origin="{{origin}}"
        destination="{{destination}}">
      </directions>
    </ng-map>
  </div>
  <div id="directions-panel" class="col-sm-6"></div>
</div>
