body {
    min-height: 2000px;
    padding-top: 70px;
    background-color: #333;
}

.shopping-title {
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

.pac-container {
  z-index: 1050;
}
