body {
    min-height: 2000px;
    padding-top: 70px;
    background-color: #333;
}

h1 {
    font-size: 36px;
    color: white;
    text-align: center;
}

.pac-container {
  z-index: 1050;
}

/* scroll fixes */
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}
