<div class="container">

  <div class="col-sm-4">

    <div class="row">
      <toast></toast>
    </div>

    <div class="row panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">{{store.name}}</h1>
      </div>
      <div class="panel-body">
        <p>{{store.address.st_number}} {{store.address.st_name}}</p>
        <p>{{store.address.city}}, {{store.address.state}} {{store.address.zipcode}}</p>
        <p>Membership card: {{store.has_card}}</p>
      </div>
    </div>

    <button class="btn btn-danger" ng-click="deleteStore()">Delete Store</button>

    <div class="row">
      <h1>Add Product</h1>
      <form ng-submit="addProduct()" name="productForm" role="form" novalidate>
        <formly-form model="productModel" fields="productFields" form="productForm" options="options">
          <button type="submit" ng-disabled="productForm.$invalid" class="btn btn-primary submit-button">Add Product</button>
          <button type="button" class="btn btn-default" ng-click="options.resetModel()">Reset</button>
        </formly-form>
      </form>
    </div>

  </div>

  <div class="col-sm-8">

    <uib-accordion class="row col-sm-10 pull-right">
      <uib-accordion-group heading="{{product.name}}" ng-repeat="product in products">
        <div style="white-space:pre-line;">
          <p>{{product.description}}</p>
        </div>
        <p class="">Price: {{product.price}}</p>
        <button type="button" class="btn btn-primary" ng-click="editProduct($index, product.id, product.name, product.description, product.price)">Edit</button>
        <button ng-click="deleteProduct(product.id, $index)" class="btn btn-danger pull-right">Delete</button>
      </uib-accordion-group>
    </uib-accordion>


  </div>

</div>
