<div class="container">

  <div class="col-sm-4">

    <div class="row">
      <toast></toast>
    </div>

    <div class="row panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">{{store.name}}</h1>
      </div>
      <div class="panel-body">
        <p>{{store.address.st_number}} {{store.address.st_name}}</p>
        <p>{{store.address.city}}, {{store.address.state}} {{store.address.zipcode}}</p>
        <p>Membership card: {{store.has_card}}</p>
      </div>
    </div>

    <button class="btn btn-danger" ng-click="deleteStore()">Delete Store</button>

    <div class="row">
      <h1>Add Product</h1>
      <form ng-submit="addProduct()" name="productForm" role="form" novalidate>
        <formly-form model="productModel" fields="productFields" form="productForm" options="options">
          <button type="button" class="btn btn-warning" ng-click="options.resetModel()">Reset</button>
          <button type="submit" ng-disabled="productForm.$invalid" class="btn btn-success submit-button pull-right">Add Product</button>
        </formly-form>
      </form>
    </div>

  </div>

  <div class="col-sm-8">

    <table st-table="displayedProducts" st-safe-src="products" class="table table-striped">
      <thead>
      <tr>
        <th class="sortable" st-sort="name">Name</th>
        <th>Description</th>
        <th class="sortable" st-sort="price">Price</th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="Search products" type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="product in displayedProducts">
        <td><a href="" ng-click="editProduct(product)">{{product.name}}</a></td>
        <td>{{product.description}}</td>
        <td>{{product.price | currency}}</td>
        <td>
          <button type="button" ng-click="deleteProduct(product)" class="btn btn-sm btn-danger pull-right">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
